 /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      .navbar.navbar-fixed-top .navbar-inner {
        background: rgba(255, 255, 255, 0.8);
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

      @media only screen and (max-width: 800px) {
        #flip-scroll .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
        #flip-scroll * html .cf { zoom: 1; }
        #flip-scroll *:first-child+html .cf { zoom: 1; }
        #flip-scroll table { width: 100%; border-collapse: collapse; border-spacing: 0; }
         
        #flip-scroll th,
        #flip-scroll td { margin: 0; vertical-align: top; }
        #flip-scroll th { text-align: left; }
        #flip-scroll table { display: block; position: relative; width: 100%; }
        #flip-scroll thead { display: block; float: left; }
        #flip-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
        #flip-scroll thead tr { display: block; }
        #flip-scroll th { display: block; text-align: right; }
        #flip-scroll tbody tr { display: inline-block; vertical-align: top; }
        #flip-scroll td { display: block; min-height: 1.25em; text-align: left; }
         
         
        /* sort out borders */
         
        #flip-scroll th { border-bottom: 0; border-left: 0; }
        #flip-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
        #flip-scroll tbody tr { border-left: 1px solid #babcbf; }
        #flip-scroll th:last-child,
        #flip-scroll td:last-child { border-bottom: 1px solid #babcbf; }
}